nav ul {
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 0;
}

nav li {
	border: 2px solid var(--color);
	font-size: larger;
	font-weight: bolder;
	list-style: none;
	margin: 0 2px;
	padding: 6px;
	transition: .3s;
}

nav li:hover {
	background: var(--color);
	transform: scale(1.1);
}

nav a {
	text-decoration: none;
}

nav li:hover a {
	color: var(--bg);
}

main {
	display: grid;
	grid-template-columns: 75% 25%;
}

main>* {
	overflow: auto;
	padding: 6px;
}