table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid var(--color);
	padding: 6px;
}

.comprimida li {
	display: inline-block;
}

.comprimida li::after {
	content: " · ";
}

.comprimida li:nth-last-child(1)::after {
	content: "";
}