:root {
	--svgCrossCircleB64: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gQ29weXJpZ2h0IChDKSAyMDIzCU1hcmNvIEFyaWFzIC0gbWFpbDovL21hcmNvYXJpYXNhbnRvbGluQGdtYWlsLmNvbQ0KCUdQTHYzLiBUaGlzIHByb2dyYW0gaXMgZnJlZSBzb2Z0d2FyZSA8aHR0cHM6Ly93d3cuZ251Lm9yZy9saWNlbnNlcy8+IC0tPg0KPHN2ZyBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDQ4IDQ4Ig0KICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPGcgc3Ryb2tlPSJncmVlbiIgc3Ryb2tlLXdpZHRoPSI2Ij4NCiAgICAgICAgPGNpcmNsZSBpZD0iY2lyY2xlIiBjeD0iMjQiIGN5PSIyNCIgcj0iMjAiIGZpbGw9Im5vbmUiLz4NCiAgICAgICAgPGxpbmUgeDE9IjE2IiB4Mj0iMzIiIHkxPSIxNiIgeTI9IjMyIi8+DQogICAgICAgIDxsaW5lIHgxPSIxNiIgeDI9IjMyIiB5MT0iMzIiIHkyPSIxNiIvPg0KICAgIDwvZz4NCjwvc3ZnPg);
}

input[name=modalImages] {
	display: none;
}

label[for=img01],
label[for=img02] {
	cursor: zoom-in;
}

label[for=contenido] {
	/* Google Chrome Versión 111.0.5563.147
	Sintaxis: cursor: url(...), fallback;
	cursor no funciona con url() sin fallback
	Si se usa var():
		No funciona el fallback con un nombre de variable erroneo
		Si funciona el fallback si está mal el texto en base64 */
	cursor: var(--svgCrossCircleB64), zoom-out;
	/* cursor: url(../img/Apartado417/crossCircle.svg), zoom-out; */
}

#imagenesCompletas {
	background: black;
	inset: 0;
	position: fixed;
	z-index: -1;
}

#contenido:not(:checked)~#imagenesCompletas {
	z-index: 1;
}

#imagenesCompletas label {
	display: grid;
	height: 100vh;
}

#imagenesCompletas a {
	place-self: center;
	grid-area: 1 / 1;
	transition: .6s;
	transform: scale(0);
}

#imagenesCompletas img {
	max-width: 96vw;
	max-height: 96vh;
}

#img01:checked~#imagenesCompletas a:nth-of-type(1),
#img02:checked~#imagenesCompletas a:nth-of-type(2) {
	transform: scale(1);
	z-index: 1;
}